.cell{
    border:1px solid black;
    padding: 3px;
}

.groceryTable{
    border-spacing: 0px;
    border:1px solid black;
}

.spanRightMargin{
    margin-right: 16px;
}

.buttonFloat{
   float: right;
}

.gridContainer{
    max-width: 200px;
}

.CardRoot{
    max-height: 200px;
}

.CardButton{
    float: right;
    border-radius: 8px;
 }

 .spanCardActions {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    top: -0.4em;
 }

 .spanMargin {
    margin-left: 16px;
    /* margin-right: 16px; */
    position: relative;
    top: 0.8em;
 }