.cell{
    border:1px solid black;
    padding: 3px;
}

.groceryTable{
    border-spacing: 0px;
    border:1px solid black;
}

.spanRightMargin{
    margin-right: 16px;
}

.buttonFloat{
   float: right;
}