@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
body{
  font-family: 'Raleway';
  /* background-color: red */
}

.gridRightAlign{
  text-align: right;
  
}
.mainDivPadding{
  padding-right: 6%;
  padding-left: 2%;
  /* padding-top: 1%; */
  padding-bottom: 2%;
}